---
import Section from "@c/Section.astro"
import BouncySvg from "./BouncySvg.astro"

import { GITHUB } from "~/content"

---

<Section class="px-gx md:gap-lg flex flex-col items-center">
  <div class="md:w-grids-10">
    <BouncySvg name="open" />
    <BouncySvg name="source" />
  </div>

</Section>
