---
import Section from "@c/Section.astro"
import BouncySvg from "./BouncySvg.astro"
import TitleText from "./comps/TitleText.astro"
import Svgg from "../svg/Svgg.astro"
import GithubLink from "../GithubLink.astro"

const WEBGL = {
  title: "MATE token.",
  description:
    "play token that hold no economic value.",
}
---

<Section>
  <div class="flex flex-col py-[8rem]">
    <div class="md:w-grids-11 flex flex-col md:flex-row">
      <div class="block md:hidden">
        <BouncySvg name="mate" />
        <BouncySvg name="open" />
      </div>
      
      <div class="px-gx md:w-grids-3 w-full md:py-8 md:pt-[10rem]">
        <div class="md:pl-grid-1 w-full">
          <div data-module="draw" class="flex w-full flex-col gap-4 md:gap-24">
            <div class="w-[30%] md:w-[80%]">
              <Svgg name="food_toast" class="size-full" />
            </div>
            <TitleText title={WEBGL.title} description={WEBGL.description} />

          </div>
        </div>
      </div>

      <div class="hidden md:block">
        <BouncySvg name="mate" />
    <BouncySvg name="open" />
      </div>
    </div>

    <div class="px-gx h-[40svh] py-24">
      <div
        class="md:ml-grid-3 md:w-grids-7 relative flex h-full w-full items-center py-24 md:items-end"
      >
        <div
          data-gl="item"
          class="z-[500] size-full h-[30svh] md:absolute md:h-[50svh]"
        >
        </div>
      </div>
    </div>

  </div>
</Section>
